/*
Your styles should go in here.
Use any styles of your choosing, the solution should support the latest browsers -1.
*/
body {
    background-color:#809fff;
}

.content {
    position: relative;
    left: -39px;
    margin: auto;
    width: 25%;
    padding: 45px; 
}

button {
    background-color:white;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    height: 32px;
    position: relative;
    margin-left: 123px;
    width: 169px;
}

.flex-container {
    display: flex;
    height: 650px;
    width:  400px;
    flex-direction: column;
    margin: 40px auto auto auto;
    background-color:white;
}

.row{
    display: inline;
}

.row p { 
    margin: auto auto auto auto ;
    display: inline;
}




