/*
Your styles should go in here.
Use any styles of your choosing, the solution should support the latest browsers -1.
*/
body {
    background-color:#5B9EED;
}

.content {
    position: relative;
    left: -39px;
    margin: auto;
    width: 25%;
    padding: 45px; 
}

button {
    background-color:white;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    height: 32px;
    position: relative;
    margin-left: 124px;
    width: 169px;
}

.flex-container {
    display: flex;
    height: 520px;
    width:  400px;
    flex-direction: column;
    margin: 40px auto auto auto;
    background-color:white;
}

.row{
    display: inline;
}

.row p { 
    margin: auto auto auto auto ;
    display: inline;
}
.ProfileA {
    padding:2px;
}
.ProfileB {
    padding:2px
}
.ProfileC {
    padding:2px
}
img{
    height: 100px;
    float: left;
    position: relative;
    left:23px;
    bottom:0px;
    padding:5px;
    border-radius:50%;
}






